.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  padding: 30px;
  margin-top: 50px;
}
.cart-container {
  background-color: #ffe0b3;
}
.pagination button,
.pagination select {
  margin: 10px;
  padding: 10px;
  border: 2px solid #ffe0b3;
  border-radius: 5px;
  background: white;
}
.pagination .selected {
  background: #ffe0b3;
  color: #fff;
}
