.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  padding: 30px;
  margin-top: 50px;
}
.cart-container {
  background-color: #ffe0b3;
}
